@font-face{
    font-family: "Lato";
    src: url(assets/Lato/Lato-Regular.ttf);
    font-style: normal;
    font-weight: normal;   
}

@font-face{
    font-family: "Lato-Bold";
    src: url(assets/Lato/Lato-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}
@font-face{
    font-family: "Lato-Black";
    src: url(assets/Lato/Lato-Black.ttf);
    font-style: normal;
    font-weight: normal;
}
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: 'Lato', serif;
    max-width: 1020px;
    min-width: 1020px;
    
   
    
}




/* HEADER
==============*/

.header{
    width: 945px;
    padding: 35px;
    padding-left: 40px;
    padding-bottom: 30px;
    background-color: #2d303a;
    border-bottom: 5px solid #323746 ;
}

h1{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

.logo{
    color: #ffffff;
    font-size: 25px;
}
.star{
    color: #f06c64;
}

.container__items{
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.nav{
    display: flex;
    font-size: 12px;
    font-family: "Lato", serif;
    text-transform: uppercase;
    
}

.nav__link{
    margin-left: 30px;
    color: white;
    text-decoration: none;
}
.nav__link:before:nth-child(1){
    content: "*";
}

.nav__link:first-child{
    margin-left: 0;
}

.nav__link:hover {
    color: #f06c64;
}

/* SLIDER
===============*/



.slider__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f06c64;
    border-bottom: 5px solid #ea676b;
    height: 595px;
    width: 1020px;
}

.slider__button{
    border: none;
    outline: none;
    background: none;
    opacity: 0.4;
}


.slider__button:hover {
   opacity: 1;
}




/* OUR SERVICES
===============*/

.services .container{
    max-width: 1020px;
    border-bottom: 5px solid #ffffff;
    color: #666d89;
    background-color: #f2f2f2;
    height: 495px;
}

.services__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    height: 200px;
    line-height: 1.7;
}

.services__text{
    letter-spacing: -0.0035em;
    font-size: 18px;
    font-weight: 200;
    margin: 0;
    padding-top: 10px;
    
}
h2{
    font-size: 30px;
    margin: 0;
    padding-top: 24px;
}



.features {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: baseline;
    align-content: space-between;
    height: 110px;
    padding-left: 40px;
    
}
.services__item{
    display: flex;
    padding: 5px;
    width: 300px;
    margin-top: 20px;
    line-height: 2;
}

.services__item img{
    align-self: baseline;
    padding-right: 20px;
}



h3{
    margin: 0;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Lato-Bold', serif;

}
.services__item__text{
    font-size: 12px;
    line-height: 1.5;
}


